<h1> Show All the sites </h1>

<%= link_to "Create new site", new_site_path %>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Site Uuid</th>
    <th>Location</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Study Uuid</th>
    <th>State</th>
    <th>City</th>
    <th>Country</th>

  </tr>
  <% @sites.each do |site| %>
    <tr>
      <td><%= site.id %></td>
      <td><%= site.name %></td>
      <td><%= site.site_uuid %></td>
      <td><%= site.location %></td>
      <td><%= site.phone %></td>
      <td><%= site.email %></td>
      <td><%= site.study_uuid %></td>
      <td><%= site.state %></td>
      <td><%= site.city %></td>
      <td><%= site.country %></td>
      <td><%= link_to "Edit site", edit_site_path(site.id) %></td>
      <td><%= link_to "Delete", method: :delete %></td>
      </ br>
    </tr>
  <% end %>
</table>
